@import 'custom';
@import 'components/fonts';
@import 'components/header';
@import 'components/footer';
@import 'components/variables';

html {
  font-size: clamp(10px, calc(5px + 5 * (100vw / 1199)), 12px);
  scroll-padding-top: $header-height;
  scroll-behavior: smooth;
}

body {
  font-family: 'Oswald', 'Calibri', sans-serif;
  font-size: 1.4rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
}

section {
  padding-block: 30px;
}

.h1 {
  font-size: 3rem;
}

.h2 {
  font-size: 2.4rem;
}

.h3 {
  font-size: 2rem;
}

.h4 {
  font-size: 1.8rem;
}

.modal__button {
  position: relative;
  overflow: hidden;
  &:not(:hover)::after {
    background: #fff;
    content: "";
    display: block;
    height: 155px;
    left: -75px;
    opacity: 0.4;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: 10;
    animation: blink 3s infinite;
  }
}

/* Bemskel containers and columns */

.container {
  margin: 0 auto;
  max-width: $container-width;
  padding: 0 10px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.col {
  width: 100%;
  float: left;
  box-sizing: border-box; }

@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; } }

@media (min-width: 550px) {
  .container {
    width: 90%; }
  .col {
    margin-left: 2%; }
  .col:first-child {
    margin-left: 0; }
  .col--1 {
    width: 6.5%; }
  .col--2 {
    width: 15%; }
  .col--3 {
    width: 23.5%; }
  .col--4 {
    width: 32%; }
  .col--5 {
    width: 40.5%; }
  .col--6 {
    width: 49%; }
  .col--7 {
    width: 57.5%; }
  .col--8 {
    width: 66%; }
  .col--9 {
    width: 74.5%; }
  .col--10 {
    width: 83%; }
  .col--11 {
    width: 91.5%; }
  .col--12 {
    width: 100%;
    margin-left: 0; }
  .col--1-3 {
    width: 32%; }
  .col--2-3 {
    width: 66%; }
  .col--1-2 {
    width: 49%; }
  .col--offset-1 {
    margin-left: 8.5% !important; }
  .col--offset-2 {
    margin-left: 17% !important; }
  .col--offset-3 {
    margin-left: 25.5% !important; }
  .col--offset-4 {
    margin-left: 34% !important; }
  .col--offset-5 {
    margin-left: 42.5% !important; }
  .col--offset-6 {
    margin-left: 51% !important; }
  .col--offset-7 {
    margin-left: 59.5% !important; }
  .col--offset-8 {
    margin-left: 68% !important; }
  .col--offset-9 {
    margin-left: 76.5% !important; }
  .col--offset-10 {
    margin-left: 85% !important; }
  .col--offset-11 {
    margin-left: 93.5% !important; }
  .col--offset-1-3 {
    margin-left: 34% !important; }
  .col--offset-2-3 {
    margin-left: 68% !important; }
  .col--offset-1-2 {
    margin-left: 51% !important; } }

@keyframes blink {
  80% {
    left: -75px;
  }
  100% {
    left: 120%;
  }
}

.phone {
  font-family: 'Oswald', 'Calibri', sans-serif;
  font-weight: 300;
  color: #FFF;
  opacity: 0.8;
  transition: opacity .2s;
  &:hover {
    opacity: 1;
  }
}

.btn {
  display: inline-block;
  font-family: 'Oswald', 'Calibri', sans-serif;
  font-weight: 300;
  background-color: #5CDD4D;
  font-size: 1.7rem;
  letter-spacing: 0.1em;
  position: relative;
  overflow: hidden;
  transition: all .2s;
  color: #FFF;
  &:not(:hover):not(.btn_not-animated)::after {
    background: #fff;
    content: "";
    display: block;
    height: 155px;
    left: -75px;
    opacity: 0.4;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    animation: blink 3s infinite;
  }
  &_square {
    border: 2px solid transparent;
    padding: 10px 25px;
    &:hover {
      box-shadow: 0 0 20px #1d9011;
      background-color: transparent;
      border: 2px solid #5CDD4D;
    }
  }
  &_square-black:hover {
    color: #4F4F4F;
  }
  &_round {
    font-family: 'PT Sans', sans-serif;
    padding: 18px 45px;
    border-radius: 40px;
    box-shadow: 0 4px 0 #4F4F4F;
    font-weight: bold;
    &:active {
      transform: translateY(6px);
      box-shadow: 0 0 0 #4F4F4F;
    }
  }
}

@keyframes blink {
  80% {
    left: -75px;
  }
  100% {
    left: 120%;
  }
}

.social-list {
  display: flex;
  gap: 12px;
}

.social-link {
  opacity: 0.8;
  transition: opacity .2s;
  &:hover {
    opacity: 1;
  }
}

.social_icon {
  width: 30px;
  height: 30px;
}

.h2 {
  font-family: 'PT Sans', sans-serif;
  font-style: italic;
  font-size: 4rem;
  color: #4F4F4F;
  letter-spacing: 0.1em;
  &_text {
    display: block;
    margin: 0;
    white-space: nowrap;
  }
  &_dashed {
    position: relative;
    display: flex;
    flex: auto;
    flex-wrap: nowrap;
    gap: 60px;
    max-width: 100%;
    margin-left: max(calc((10vw) / 2), 10px);
    overflow: hidden;
    &.text_center {
      margin-left: 0;
      width: 100%;
      &::before {
        content: '';
        display: block;
        position: relative;
        width: 50%;
        height: 4rem;
        background: repeating-linear-gradient(135deg, transparent 0%, transparent 40px, #4F4F4F 40px, #4F4F4F 80px, transparent 80px);
        transform: rotate(180deg);
      }
    }
    .h2_text {
      display: block;
    }
    &::after {
      content: '';
      display: block;
      width: 50%;
      height: 4rem;
      background: repeating-linear-gradient(135deg, transparent 0%, transparent 40px, #4F4F4F 40px, #4F4F4F 80px, transparent 80px);
    }
  }
}

.btn_center {
  display: block;
  width: fit-content;
  width: -moz-fit-content;
  margin-inline: auto;
}

@media screen and (max-width: $md) {
  .h2 {
    font-size: 3.2rem !important;
  }
  .h2_dashed::after {
    height: 3.2rem !important;
  }
}


@media screen and (max-width: $sm) {
  .h2_dashed {
    &.text_center {
      &::before {
        content: '';
        display: block;
        position: relative;
        width: 100%;
        height: 4rem;
        background: repeating-linear-gradient(135deg, transparent 0%, transparent 40px, #4F4F4F 40px, #4F4F4F 80px, transparent 80px);
        transform: rotate(180deg);
      }
    }
    &::after {
      background: none;
    }
  }
}

@media screen and (max-width: $sm) {
  .h2_dashed {
    margin-inline: 0;
    width: 100%;
    .h2_text {
      width: 100%;
      text-align: center;
      white-space: normal;
    }
    &.text_center {
      &::before {
        content: none;
        background: none;
      }
    }
    &::after {
      content: none;
      background: none;
    }
  }
}
