@import '../variables';

#advantages {
  color: #FFF;
  padding-bottom: 80px;
}

.advantages__title {
  color: #FFF;
  margin-bottom: 0;
}

.advantages__undertitle {
  font-weight: 300;
  font-size: 2.5rem;
  letter-spacing: 0.1em;
  margin-top: 0;
  line-height: 200%;
}


.advantages__list {
  display: flex;
  flex-wrap: wrap;
  gap: 110px;
  margin-block: 90px;
}

.advantages__item {
  display: flex;
  gap: 75px;
}

.advantage__text {
  flex: 1;
}

.advantage__title {
  font-family: 'PT Sans', sans-serif;
  font-style: italic;
  font-size: 3.6rem;
  line-height: 130%;
  letter-spacing: 0.1em;
}

.advantage__description {
  font-weight: 300;
  font-size: 2rem;
  line-height: 200%;
  letter-spacing: 0.1em;
}

.advantage__image {
  width: 583px;
  flex: 1;
}

.advantages__description {
  max-width: 890px;
  font-weight: 300;
  font-size: 2rem;
  line-height: 200%;
  margin-inline: auto;
  margin-bottom: 40px;
}

@media screen and (max-width: $xl) {
  .advantages__list {
    margin-top: 30px;
    gap: 33px;
  }
  .advantages__item {
    width: 100%;
    align-items: center;
    gap: 4px;
    &:nth-of-type(even) {
      flex-direction: column-reverse;
    }
    &:nth-of-type(odd) {
      flex-direction: column;
    }
  }
  .advantage__title {
    text-align: center;
  }
  .advantage__description {
    display: none;
  }
  .advantage__image {
    width: 70%;
  }
}

@media screen and (max-width: $md) {
  .advantage__title {
    font-size: 3.2rem;
  }

  .advantages__undertitle {
    font-size: 2.2rem;
  }
}