@import '../variables';

#autopark {
  background: url('../../../assets/images/background/autopark-grey-car-bg.webp') no-repeat 0 100%,
  url('../../../assets/images/background/autopark-yellow-car-bg.webp') no-repeat 100% 100%;
  background-size: auto min(250px, 45%), auto min(230px, 45%);
  padding-bottom: 90px;
}

.auto__title {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 214.2%;
  letter-spacing: 0.1em;
  color: #4F4F4F;
}

.autodrom__list {
  display: grid;
  width: 90%;
  grid-template-areas:
  "A B D"
  "A C D";
  grid-template-columns: 1fr 1fr 1fr;
  height: auto;
  margin-bottom: 20px;
  margin-inline: auto;
}

.autodrom__item {
  &_1 {
    display: flex;
    height: 70%;
    grid-area: A;
    background: #5CDD4D;
    box-shadow: 6px 8px 14px 3px rgba(0, 0, 0, 0.25);
    align-self: center;
    align-items: center;
    padding: 32px;
    font-weight: 300;
    font-size: 2rem;
    line-height: 200%;
    letter-spacing: 0.1em;
    color: #FFF;
  }
  &_2 {
    grid-area: B;
  }
  &_3 {
    grid-area: C;
  }
  &_4 {
    grid-area: D;
  }
}

.autodrom__image {
  height: calc(100% + 2px);
  width: calc(100% + 2px);
  margin: -1px;
}

.autopark__description {
  max-width: 965px;
  margin-inline: auto;
  font-weight: 300;
  font-size: 20px;
  line-height: 214.2%;
  letter-spacing: 0.1em;
  margin-bottom: 30px;
}

.autopark__list {
  display: flex;
  width: 690px;
  margin-inline: auto;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin-bottom: 60px;
}

.autopark__item {
  width: 330px;
  height: 250px;
  background: linear-gradient(180deg, #5CDD4D 0%, rgba(92, 221, 77, 0) 100%);
  position: relative;
  font-weight: 600;
  font-size: 75px;
  color: #FFF;
  line-height: 200%;
  text-align: center;
  letter-spacing: 0.1em;
  padding-top: 20px;
  margin-bottom: 30px;
  z-index: 1;
}

.autopark__image {
  width: calc(100% - 20px);
  padding-inline: 10px;
  position: absolute;
  bottom: -40px;
  left: 0;
}

@media screen and (max-width: $lg) {
  .autopark__list {
    width: 350px;
    gap: 50px;
  }
  .autodrom__list {
    grid-template-areas:
      "B D"
      "C D"
      "A A";
    grid-template-columns: 1fr 1fr;
    height: auto;
  }
  .autodrom__item {
    &_1 {
      width: 70%;
      height: 100%;
      justify-self: center;
    }
  }
}

@media screen and (max-width: $md) {
  #autopark {
    background: none;
  }
}
