@import '../variables';

#reviews {
  color: #FFF;
  padding-bottom: 80px;
}

.reviews__title {
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 0.1em;
  color: #FFF;
  margin-bottom: 0;
}

.reviews__list {
  display: flex;
  flex-wrap: wrap;
  gap: 110px;
  margin-block: 90px;
}

.reviews__item {
  display: flex;
  gap: 75px;
}

.review__text {
  flex: 1;
}

.review__title {
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: 0.1em;
  line-height: 130%;
}

.review__description {
  font-weight: 300;
  font-size: 2rem;
  line-height: 200%;
  letter-spacing: 0.1em;
}

.review__image {
  max-width: 100%;
  width: 583px;
  flex: 1;
}

.reviews__description {
  font-weight: 300;
  font-size: 2rem;
  line-height: 200%;
  margin-inline: auto;
}

@media screen and (max-width: $lg) {
  .reviews__item {
    flex-wrap: wrap-reverse;
    gap: 0;
  }
}