mixin enrollModal(classes, value)
    a(class=classes target='_blank', onclick="FDPopup.open(194899,{'hideCloseBtn':false,'host':'formdesigner.ru','overlay':{'background':'#000000','opacity':0.1}}); return false;", href='https://formdesigner.ru/form/view/194899')= value

mixin enrollForm(index, classes)
    div(id=`form_${index}`)
    script(type='text/javascript').
        (function (d, w, c) {
            (w[c] = w[c] || []).push({
                formId: 194899,
                host: "formdesigner.ru",
                formHeight: 100,
                el: `form_#{index}`,
                center: 1,
                scroll: 0
            });
            var s = d.createElement("script"), g = "getElementsByTagName";
            s.type = "text/javascript";
            s.charset = "UTF-8";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//formdesigner.ru/js/iform.js?v=0.0.3";
            var h = d[g]("head")[0] || d[g]("body")[0];
            h.appendChild(s);
        })(document, window, "fdforms");