@import '../variables';

#about {
  background: url('../../../assets/images/background/about-car-bg.webp') no-repeat 50% 100%;
  background-size: 204px auto;
}

.facts__list {
  width: 100%;
  height: 500px;
  display: flex;
  gap: 30px;
  justify-content: center;
}

.fact__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #5CDD4D;
  margin-bottom: 57px;
  &_rounded {
    width: 210px;
    height: 210px;
    border: 10px solid #FFDE48;
    border-radius: 300px;
  }
}

.fact__item {
  &_1 {
    align-self: end;
  }
  &_2 {
    align-self: center;
  }
  &_3 {

  }
  &_4 {
    align-self: center;
  }
  &_5 {
    align-self: end;
  }
}

.fact__title {
  font-family: 'PT Sans', sans-serif;
  font-size: 6.5rem;
  margin: 0;
}

.fact__bottom-description {
  max-width: 183px;
  margin-inline: auto;
  font-size: 1.6rem;
  color: #4F4F4F;
}

@media screen and (max-width: $xl) {
  .facts__list {
    max-width: 500px;
    margin-inline: auto;
  }
  .fact__item {
    align-self: start;
    &_3 {
      width: 100%;
      order: 5;
      margin-bottom: 115px;
    }
  }
  .facts__list {
    flex-wrap: wrap;
    height: auto;
  }
}

@media screen and (max-width: $lg) {

}