@import '../variables';

.classes__box {
  display: flex;
  gap: 80px;
}

.classes__description {
  flex: 1;
  font-weight: 400;
  font-size: 2rem;
  line-height: 200%;
  letter-spacing: 0.1em;
  color: #4E4E4E;
}

.classes__carousel {
  flex: 1;
  height: auto;
  width: 50%;
  align-self: start;
  margin-top: 1em;
}

.swiper-slide {
  opacity: 0;
  overflow: hidden;
}

.swiper-slide-visible {
  opacity: 1;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  --swiper-navigation-sides-offset: 38%;
  position: absolute;
  top: auto !important;
  bottom: -50px;
}

.swiper-button-prev {
  content: url("../../../assets/icons/prev.svg");
}

.swiper-button-next {
  content: url("../../../assets/icons/next.svg");
}

@media screen and (max-width: $lg) {
  .classes__box {
    display: flex;
    flex-direction: column-reverse;
  }

  .classes__carousel {
    width: 100%;
  }

  .classes__description {
    margin-top: 0;
  }
}